article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main,
div,
p,
ul,
body,
h1, h2, h3, h4  
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}